body {
	background: #C5DDEB;
}

.chat-room-container {
	max-width: 725px;
	margin: 0 auto;
}

.conversation {
	height: 400px;
	overflow-y: scroll;;
}

#thumbnail {
	margin-right: 10px;
}

@media screen and (max-width: 900px) {
	.chat-room-container {
		margin: 0 auto;
	}

	.conversation {
		height: 300px;
	}
}