extends ./template.jade

block content
	div.ui.container
		div.ui.segment
			div#room-list

	script(type='text/babel').
		var Room = React.createClass({
			render: function () {
				return (
					<div>
						<RoomImg roomid={this.props.roomid} />
						<RoomInfo roomid={this.props.roomid} />
					</div>
				);
			}
		});

		var RoomImg = React.createClass({
			render: function() {
				return (
					<i className='ui icon comments outline' />
				);
			}
		});

		var RoomInfo = React.createClass({
			render: function() {
				return (
					<span>{this.props.roomid}</span>
				);
			}
		});

		ReactDOM.render(
			<Room roomid='聊天室名稱' />,
			document.getElementById('room-list')
		);
