doctype html
html
	head
		meta(charset='UTF-8')
		block title
			title
				| DeChat

		// React.
		script(src='/react/react.min.js')
		script(src='/react/react-dom.min.js')

		// jQuery.
		script(src='/jQuery/jquery-3.0.0.min.js')

		// Babel.
		script(src='/babel/browser.min.js')

		// Semantic-UI.
		link(rel='stylesheet' type='text/css' href='/Semantic-UI/semantic.min.css')
		script(src='/Semantic-UI/semantic.min.js')

		// Default CSS.
		link(rel='stylesheet' type='text/css' href='/style.css')

	body
		block content